/* Universal Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f8fa;
    font-size: 18px;
    color: #E5E5E5;
    
}

/* Nav Rules */
.logo-container {
    display: flex;
    width: 500px;
    
}
nav {
    display: flex;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color: #062134;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    transform: rotate(90deg);
    width: 50px;
    height: auto;
    display: flex;
    justify-content: space-around;
   
}
.company-name {
    display: flex;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.option {
    text-decoration: none;
    color:#E5E5E5;
}
.last {
    font-weight: 600;
    border: 3px solid #E5E5E5;
    border-radius: 2px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    flex: .5;
}
.nav-links a {
    letter-spacing: 0.1em;
    padding: 5px;
}

.nav-links a:hover {
    background-color:#e5e5e5;
    border-radius: 3px;
    color:#062134;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #e5e5e5;
    border-radius: 1px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}
@media screen and (max-width: 425px) {
    .company-name {
        font-size: 1em;
    }
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #062134;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .company-name {
        font-size: 1.5em;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Banner Rules */

.hero-image {
    position: relative;
    height: 600px;
    overflow: hidden;
    background: url(./images/banner-background.jpg) no-repeat center;
    top: 10vh;
    background-size: cover;
    filter: grayscale(10%);
    border-bottom: 15px solid #f5f8fa;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #062134;
}

/* About Rules */
section #about {
    display: flex;
    min-height: 200vh;
    align-items: center;
    justify-content: center;
    border: 10px solid #E5E5E5;
}
.about-section {
    background: url(./images/about-us.jpg) no-repeat left;
    background-size: 55%;
    overflow: hidden;
    padding: 100px;
    background-color: #062134;
}
.about-container {
    width: 55%;
    float: right;
    font-size: 0.75em;
    background-color: #062134;
    padding: 100px;
}
.about-container h1 {
    margin-bottom: 30px;
    font-weight: 600;
}
.three-step {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 30px;
    font-size: 0.9em;
}

@media screen and (max-width: 1024px) {
    .about-container {
        padding: 60px;
    }

    .about-section {
        padding: 80px 0px;
    }
}

@media screen and (max-width: 768px) {
    .about-section {
        background-size: 100%;
    }
    .about-container {
        width: 100%;
        padding: 60px;
    }
}
